#myProgress {
    position: relative;
    width: 30%;
    height: 10px;
    float: left;

}
#myBar{
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
}

#myProgress2 {
  position: relative;
  width: 30%;
  height: 10px;
  float: right;
 
}
#myBar2{
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.progress-layer {
    width: 11.5%;
    margin-right: 0.01%;
    height: 100%;
    display: inline-block;
    background-color: #9FD175;
}

.progress-layer:first-child {
  border-radius: 10px 1px 1px 10px;
}

.progress-layer:last-child {
  border-radius: 1px 10px 10px 1px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

#life-1
{
  width: 70%;
  float:left;
  margin-bottom: 20px;
}
#life-2
{
  width: 30%;
  float: right;
  margin-bottom: 20px;
}

button{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #FFB24A;
  border-style: none;
  border-radius: 0.5cm;
  margin: 20px;
  width: 100px;
  height: 50px;
}
#hit
{
  width: 50%;
  
}
#monsters{
  height: 300px;
  width: 100%;
  margin-top: 50px;
}

#monster-1{
  height: 100%;
  width: 200px;
  background-color: #794AFF;
  float: left;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 60px;
  margin-right:30%;
}

#monster-2{
  height: 100%;
  width: 200px;
  background-color: #794AFF;
  float: right;
  border-radius: 20px;
  margin-top: 50px;
  margin-right: 60px;
}

h1
{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}